/* ======= 地图弹框-工地 ======= */
.map-dialog-bj{
	width: 698px;
	border: 1px solid #0eabdb;
	border-radius: 4px;
	background-color: #f2f8ff;
	position: relative;
	box-shadow: 0 0 5px rgba(80,126,184,.57);
}

.map-dialog-bj:after{
	content: '';
	background-image: url(../images/dialog_arrow.png);
	background-repeat: repeat-x;
	width: 33px;
	height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 100%;
}

.map-building{
	width: 698px;
}

.map-bd-tit{
	background-image: url(../images/dialog_tit.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 26px;
	line-height: 26px;
	color: #fff;
	overflow: hidden;
}

.map-bd-tit .left{
	float: left;
	margin-left: 10px;
}

.map-bd-tit .right{
	float: right;
	margin-right: 6px;
	overflow: hidden;
}

.map-bd-tit .right p{
	float: left;
}

.dialog-video{
	float: left;
	margin-left: 10px;
    margin-top: 3px;
}

.dialog-warn{
	float: left;
    margin-left: 6px;
    margin-top: 5px;
}

.dialog-close{
	float: left;
	margin-left: 6px;
	margin-top: 6px;
	width: 10px;
	height: 10px;
}

.map-bd-first{
	padding: 6px 10px;
	overflow: hidden;
	border-bottom: 1px solid #b5b5b5;
}

.map-bd-first-text{
	overflow: hidden;
}

.map-bd-first-text .left{
	float: left;
}

.map-bd-first-text .grade{
	padding: 2px 15px;
}

.map-bd-first-text .right{
	float: right;
}

.map-bd-first-card{
	margin-top: 6px;
}

.map-bd-first-card ul li{
	width: 80px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 5px;
	float: left;
}

.map-bd-first-card ul li.first{
	margin-left: 0;
}

.map-bd-first-card ul li .title{
	height: 24px;
	line-height: 24px;
	color: #fff;
}

.map-bd-first-card ul li .num{
	font-size: 20px;
	margin-top: 3px;
}

.map-bd-first-card ul li .text{
	padding: 0 0 3px;
}

.map-bd-second{
	height: 206px;
	border-bottom: 1px solid #b5b5b5;
}

.map-bd-second .left{
	width: 51%;
	height: 100%;
	float: left;
	border-right: 1px solid #b5b5b5;
	box-sizing: border-box;
}

.map-bd-second .right{
	width: 49%;
	float: right;
	text-align: center;
}

.map-bd-second .right p{
	margin-left: 10px;
	margin-top: 10px;
	text-align: left;
}

.map-bd-second .warn-pic{
	border: 4px solid #6dd1fa;
	border-radius: 4px;
	height: 140px;
	width: 255px;
	margin-top: 13px;
}

.map-bd-second-up{
	height: 55%;
	border-bottom: 1px solid #b5b5b5;
}

.map-bd-second-up p{
    margin-left: 20px;
    margin-top: 5px;
}

.map-bd-graph{
	width: 100%;
	height: 100px;
}

.map-bd-second-down-text{
	margin-left: 20px;
	margin-top: 7px;
}

.map-bd-second-down-text p{
	line-height: 1.5;
}

.blue-arrow{
	width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px;
    left: 28%;
    margin-left: -2px;
    position: absolute;
	border-bottom-color: #43b4ee;
    bottom: -5px;
}

.map-bd-third{
	padding: 5px 10px 10px;
}

.map-bd-third-text{
	background-color: #eee;
	border: 1px solid #cfcfcf;
	padding: 5px 15px 5px 8px;
	position: relative;
	line-height: 1.5;
}

.dialog_text_bj{
	background-image: url(../images/dialog_text_bj.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 24px;
	position: absolute;
	bottom: -1px;
	right: -1px;
}

/* ======= 地图弹框-监测点 ======= */
.map-monitoring{
	width: 430px;
}

.map-mt-first-text{
	overflow: hidden;
	margin: 6px 10px;
	height: 20px;
	line-height: 20px;
}

.map-mt-first-text p.left{
	float: left;
	margin-left: 10px;
}

.map-mt-first-text p .grade{
	width: 50px;
	height: 20px;
	display: block;
	text-align: center;
}

.map-mt-first-text p.right{
	float: left;
	margin-left: 50px;
}

.map-mt-second-text{
	margin-left: 10px;
	margin-bottom: 6px;
}

.map-mt-third-text{
	padding: 0 10px;
	height: 100px;
}

.map-mt-third-text .left{
	float: left;
	width: 70%;
}

.map-mt-third-text .left ul{
	width: 100%;
	overflow: hidden;
	margin-top: 8px;
}

.map-mt-third-text .left ul li,
.map-car-mt-second ul li{
	width: 60px;
	float: left;
	margin-left: 10px;
	text-align: center;
}

.map-mt-third-text .left ul li.first{
	margin-left: 0;
}

.map-mt-third-text .left ul li span,
.map-car-mt-second ul li span{
	display: block;
	height: 46px;
	width: 46px;
	box-sizing: border-box;
	border-radius: 50%;
	line-height: 46px;
	font-size: 18px;
	background-color: #fff;
	margin: 0 auto;
}

.map-mt-third-text .left ul li p,
.map-car-mt-second ul li p{
	margin: 5px 0;
}

.map-mt-third-text .right{
	float: right;
	width: 27%;
	height: 100%;
	background-color: #00a0e9;
}

.map-mt-third-text .right p{
	color: #fff;
	line-height: 1.5;
	margin: 2px 0 2px 8px;
}

.map-mt-third-text .right p .num{
	color: #000;
	background-color: #f2f8ff;
	padding: 1px 2px;
	margin-right: 5px;
}

.map-mt-fourth-text{
	padding: 2px 10px;
}

.map-mt-graph{
	width: 100%;
	height: 110px;
}

/* ======= 地图弹框-车载-监测点 ======= */
.map-car-monitoring{
	width: 330px;
}

.map-car-mt-first{
	padding: 6px 10px;
}

.map-car-mt-first p{
	line-height: 1.5;
}

.map-car-mt-first p .grade{
	width: 50px;
    height: 18px;
    text-align: center;
    display: inline-block;
}

.map-car-mt-first p .left-text{
	width: 140px;
	display: inline-block;
}

.map-car-mt-second{
	padding-left: 18px;
}

.map-car-mt-second ul{
	width: 100%;
	overflow: hidden;
	margin-top: 2px;
}

.map-car-mt-third{
	width: 100%;
	height: 100px;
}

.map-car-mt-graph{
	width: 100%;
	height: 100%;
}

/* ======= 超标报警查  询-处理 ======= */


